{%- block collection_widget -%}
  {% if allow_add %}
    <div class="mb-3">
      <button
        type="button"
        class="btn btn-primary"
        data-index="{{ form|length }}"
        data-prototype="{{ form_widget(prototype)|e('html_attr') }}"
        onclick="addCollectionEntry(event, '{{ id }}', '{{ prototype.vars.name }}')"
        {% if disabled %}disabled{% endif %}
      >{{ 'generic.add'|trans }}</button>
    </div>
  {% endif %}

  <table class="table border-top my-0">
    <tbody id="{{ id }}">
      {%- for entry in form -%}
        {{ form_widget(entry) }}
      {%- endfor -%}
    </tbody>
  </table>
{%- endblock -%}

{%- block collection_entry_widget -%}
  <tr id="{{ id }}">
    {%- for entry in form -%}
      <td>
        {{ form_widget(entry) }}
        {{ form_errors(entry) }}
      </td>
    {%- endfor -%}

    {% if form.parent.vars.allow_delete %}
      <td style="min-width: 50px">
        <button
          type="button"
          class="btn btn-link link-danger px-0"
          onclick="removeCollectionEntry('{{ id }}', '{{ 'generic.remove_confirmation'|trans }}')"
          {% if form.parent.vars.disabled %}disabled{% endif %}
        >{{ 'generic.remove'|trans }}</button>
      </td>
    {% endif %}
  </tr>
{%- endblock -%}
