{%- block collection_widget -%}
  <div data-controller="siganushka-product">
    <div data-siganushka-product-target="container">
      {%- for entry in form -%}
        {{ form_widget(entry) }}
      {%- endfor -%}
    </div>

    {%- if allow_add -%}
    <div class="d-grid">
      <button
        type="button"
        class="btn btn-outline-primary" 
        data-action="click->siganushka-product#addItem"
        data-index="{{ form|length }}"
        data-prototype="{{ form_widget(prototype)|e('html_attr') }}"
        data-prototype-name="{{ prototype.vars.name }}"
        {% if disabled %}disabled{% endif %}>{{ 'generic.add'|trans }}</button>
    </div>
    {%- endif -%}
  </div>
{%- endblock -%}

{%- block collection_entry_widget -%}
  <div id="{{ id }}" class="row g-2 mb-2">
    {%- for entry in form -%}
      <div class="{{ entry.vars.attr['data-collection-class']|default('col') }}">
        {{ form_widget(entry, {attr: {placeholder: entry.vars.label}}) }}
        {{ form_errors(entry) }}
      </div>
    {%- endfor -%}

    {%- if form.parent.vars.allow_delete -%}
      <div class="col-auto">
        <button
          type="button"
          class="btn btn-link link-danger px-0"
          data-action="click->siganushka-product#removeItem"
          data-confirm-text="{{ 'generic.remove_confirmation'|trans }}"
          data-node-id="{{ id }}"
          {% if form.parent.vars.disabled %}disabled{% endif %}>{{ 'generic.remove'|trans }}</button>
      </div>
    {%- endif -%}
  </div>
{%- endblock -%}
