{%- block collection_widget -%}
  <div id="{{ id }}">
    {%- for entry in form -%}
      {{ form_widget(entry) }}
    {%- endfor -%}
  </div>

  {%- if allow_add -%}
  <div class="d-grid">
    <button
      type="button"
      class="btn btn-outline-primary"
      data-index="{{ form|length }}"
      data-prototype="{{ form_widget(prototype)|e('html_attr') }}"
      onclick="addCollectionEntry(event, '{{ id }}', '{{ prototype.vars.name }}')"
      {% if disabled %}disabled{% endif %}>{{ 'generic.add'|trans }}</button>
  </div>
  {%- endif -%}
{%- endblock -%}

{%- block collection_entry_widget -%}
  <div id="{{ id }}" class="row g-2 mb-2">
    {%- for entry in form -%}
      <div class="{{ entry.vars.attr['data-collection-class']|default('col') }}">
        {{ form_widget(entry, {attr: {placeholder: entry.vars.label}}) }}
        {{ form_errors(entry) }}
      </div>
    {%- endfor -%}

    {%- if form.parent.vars.allow_delete -%}
      <div class="col-auto">
        <button
          type="button"
          class="btn btn-link link-danger px-0"
          onclick="removeCollectionEntry('{{ id }}', '{{ 'generic.remove_confirmation'|trans }}')"
          {% if form.parent.vars.disabled %}disabled{% endif %}>{{ 'generic.remove'|trans }}</button>
      </div>
    {%- endif -%}
  </div>
{%- endblock -%}
