{%- block collection_widget -%}
  <div
    data-controller="sigan-product"
    data-sigan-product-index-value="{{ form|length }}"
    data-sigan-product-prototype-value="{{ form_widget(prototype)|e('html_attr') }}"
    data-sigan-product-prototype-name-value="{{ prototype.vars.name }}"
  >
    <div data-sigan-product-target="container">
      {%- for entry in form -%}
        {{ form_widget(entry) }}
      {%- endfor -%}
    </div>

    {%- if allow_add -%}
    <div class="d-grid">
      <button
        type="button"
        class="btn btn-outline-primary" 
        data-action="click->sigan-product#addItem"
        {% if disabled %}disabled{% endif %}>{{ 'generic.add'|trans }}</button>
    </div>
    {%- endif -%}
  </div>
{%- endblock -%}

{%- block collection_entry_widget -%}
  <div id="{{ id }}" class="row g-2 mb-2">
    {%- for entry in form -%}
      <div class="{{ entry.vars.attr['data-collection-class']|default('col') }}">
        {{ form_widget(entry, {attr: {placeholder: entry.vars.label}}) }}
        {{ form_errors(entry) }}
      </div>
    {%- endfor -%}

    {%- if form.parent.vars.allow_delete -%}
      <div class="col-auto">
        <button
          type="button"
          class="btn btn-link link-danger px-0"
          data-action="click->sigan-product#removeItem"
          data-node="{{ id }}"
          {% if form.parent.vars.disabled %}disabled{% endif %}>{{ 'generic.remove'|trans }}</button>
      </div>
    {%- endif -%}
  </div>
{%- endblock -%}
